<%- include("header") -%>

<div class="header container-fluid">
  <img src="images/banner.png">
  <div class="vl"></div>
  <h1 id="title" class="title">Welcome</h1>
  <h2 id="subtitle" class="subtitle">U of T Electrical & Computer<br> Engineering Club</h2>
</div>

<div class="container-fluid social-container">
  <h2 class="social-container-title">Get Involved</h2>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-3 col-2">
      <hr>
    </div>

    <div class="row col-md-6 col-12 justify-content-center align-items-center">
      <div class="col-3">
        <a target="_blank" href="https://www.facebook.com/ECE.Club.UofT/">
          <img src="images/icons/facebook.png" alt="" width="70" height="70">
        </a>
      </div>

      <div class="col-3">
        <a target="_blank" href="https://www.instagram.com/ece__club/">
          <img src="images/icons/instagram.png" alt="" width="70" height="70">
        </a>
      </div>

      <div class="col-3">
        <a target="_blank" href="https://www.reddit.com/r/eceuoft/">
          <img src="images/icons/reddit.png" alt="" width="70" height="70">
        </a>
      </div>

      <div class="col-3">
        <a target="_blank" href="https://discord.gg/UaaJMgT">
          <img src="images/icons/discord.png" alt="" width="70" height="70">
        </a>
      </div>
    </div>

    <div class="col-md-3 col-2">
      <hr>
    </div>
  </div>
</div>

<div class="container posts">
  <h2 class="posts-title">Announcements</h2>
  <% for(var i = 0; i < posts.length; i++){ %>
  <div class="post">
    <h4 class="post-title"><%= posts[i].title %></h4>
    <p style="white-space: pre-line" class="post-body"><%- posts[i].body %> </p>
    <p class="post-date"><%= posts[i].date %></p>
  </div>
  <% if(i != posts.length - 1){ %>
  <hr>
  <% } %>
  <% } %>

  <% if(isAuth){ %>
  <a class="btn btn-secondary edit-posts-button" href="/edit-posts">Edit Anncouncments</a>
  <% }else{ %>
  <button class="btn btn-secondary edit-posts-button" data-toggle="modal" data-target="#passwordModal" onclick="this.blur();">Edit Anncouncments</button>
  <% } %>
</div>

<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return false">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <div class="invalid-feedback">Incorrect Password</div>
            <div class="valid-feedback">Success</div>
          </div>
          <button id="submitPassword-button" type="submit" class="btn btn-secondary" onclick="this.blur();">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer-spacer"></div>
<%- include("footer") -%>
